<a href="https://colab.research.google.com/github/Hesh0629/pandas_study/blob/main/pandas_data_I_O.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os, sys
import pandas as pd

sys.path.insert(0, '/content/drive/MyDrive/additional_package')

# CSV 파일에서 불러오기

In [ ]:
file_path = '/content/drive/MyDrive/read_csv_sample.csv'

In [ ]:
# file_path에 파일 경로를 저장하고 read_csv를 통하여 Dataframe 형성
df1 = pd.read_csv(file_path)
print(df1)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [ ]:
# hader = None으로 설정하면 첫 행부터 DF에 포함, 아닐경우 첫 행 = 열 이름 
df2 = pd.read_csv(file_path,header=None)
print(df2)

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

In [ ]:
# index_col을 통하여 인덱스가 될 col 선정 가능
df3 = pd.read_csv(file_path,index_col='c1')
print(df3)

    c0  c2  c3
c1
1    0   4   7
2    1   5   8
3    2   6   9

In [ ]:
# 이 파일에서 구분자(sep, delimiter)는 쉼표임. 이에 맞게 설정해야함
df4 = pd.read_csv(file_path,sep=' ')
print(df4)

  c0,c1,c2,c3
0     0,1,4,7
1     1,2,5,8
2     2,3,6,9

# JSON 파일에서 불러오기
JSON 파일은 attribute-value pairs 또는 key - value pair등 데이터 오브젝트를 전달하기 위한 포멧임 (from wiki docs)  
ex)  
 {  
     "이름": "홍길동",  
     "나이": 25,  
     "성별": "여",  
     "주소": "서울특별시 양천구 목동",  
     "특기": ["농구", "도술"],  
     "가족관계": {"#": 2, "아버지": "홍판서",   "어머니": "춘섬"},  
     "회사": "경기 수원시 팔달구 우만동"  
 }

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html
# 불러오는 건 별거 없는듯

In [ ]:
json_path = '/content/drive/MyDrive/read_json_sample.json'
df_json=pd.read_json(json_path)
print(df_json)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True

# API 활용하여 데이터 불러오기
구글 지오코딩 API키 유출금지  
ref : https://velog.io/@konh2e/Googlemaps-Geocoding-API-%EC%82%AC%EC%9A%A9%EB%B2%95

In [2]:
import googlemaps
my_key = "my key"
maps=googlemaps.Client(key=my_key)
lat=[]
lng=[]
places = ["부산역", "서강대학교", "신촌역"]
i=0
for place in places:
  i=i+1
  try:
    location=maps.geocode(place)[0].get('geometry')
    lat.append(location['location']['lat'])
    lng.append(location['location']['lng'])

  except:
    lat.append('')
    lng.append('')
    print(i)
  
df=pd.DataFrame({'위도':lat,'경도':lng}, index=places)
print(df)

              위도          경도
부산역    35.115225  129.042243
서강대학교  37.550944  126.941002
신촌역    37.559771  126.942367